<div class="container">
  <h2 class="fw-bold mb-2 text-uppercase" style="padding-top: 30px">Liste des projets où vous êtes inscrit :</h2>
  <ul class="list-group">
    {% for project in inside %}
    <li class="list-group-item">
      <a href="/getProject/{{project.id}}" style="text-decoration: none;">
        <button class="btn btn-info" type="submit">{{project.title}}</button>  
        {{project.intListUserInside}}/{{project.nbMembers}}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h2 class="fw-bold mb-2 text-uppercase" style="padding-top: 30px">Liste des projets auquels vous ne participez pas :</h2>
  <ul class="list-group">
    {% for project in notInside %}
    <li class="list-group-item">
      <a href="/getProject/{{project.id}}" style="text-decoration: none;">
        <button class="btn {% if project.intListUserInside == project.nbMembers %}btn-danger{% else %}btn-warning {% endif %}" type="submit">{{project.title}}</button> 
        {{project.intListUserInside}}/{{project.nbMembers}}
      </a>
    </li>
    {% endfor %}
  </ul>
  
  <div style="padding-top: 40px;">
    <button class="btn btn-info">Vous participez à ce projet</button>
    <button class="btn btn-warning">Vous ne participez à ce projet mais vous pouvez encore y participer</button>
    <button class="btn btn-danger">Vous ne participez à ce projet et vous ne pouvez pas y participer</button>

  </div>
  
</div>

<script src="http://localhost/assets/js/home.js"></script>