<div class="container">
    <h2><b style="color: brown;">PROJET : </b>{{project.title}}</h2>
    <form method="post" action="/randomGroup">
    <h4>
        {{project.intListUserInside}}/{{project.nbMembers}}
        {% if settings.admin is false %} 
        {% if inProject is true %}
        {% if alreadyInOneGroup is false %}
            <input hidden name="userId" value="{{settings.idUser}}">
            <input hidden name="projectId" value="{{project.id}}">
            <button type="submit" class="btn btn-primary">Être placé aléatoirement dans un groupe </button>
        {% endif %}       
        {% endif %}       
        {% endif %}       
    </h4>   
    </form>

    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for group in project.listGroups %}
                <div class="col-4" style="padding-top: 25px;">
                    <div class="card">
                        <div class="card-header">
                        <div class="row">
                            <div class="col" style="text-align: left;">
                            {{group.title}}
                
                            </div>
                            <div class="col" style="text-align: right;">
                                {{group.intListUserInside}}/{{group.maxMember}}
                            </div>
                        </div>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">{{group.title}}</h5>
                            <ul class="list-group" style="padding-top: 25px;">
                                <li class="list-group-item list-group-item-secondary" aria-current="true">Utilisateurs inscrits à ce <b>groupe</b></li>
                                {% for user in group.listUserInside %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col" style="text-align: left;">
                                            {{user.name}}
                                        </div>
                                        {% if settings.admin is true %}
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                    


                            <form method="post" action="/getGroup" style="padding-top: 20px;">
                                <input hidden name="groupId" value="{{group.id}}">
                                <button type="submit" class="btn btn-primary">Voir le groupe</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3" style="background-color: whitesmoke;">
            {% if settings.admin is false %}
            {% if maxUser is false %}
            {% if inProject is false %}
            <ul class="list-group" style="padding-top: 25px;" id="join">
                <li class="list-group-item active" aria-current="true">Voulez-vous rejoindre ce projet ?</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <form action="/addUserToProject" method="post">
                                <input hidden name="userId" value="{{settings.idUser}}">
                                <input hidden name="projectId" value="{{project.id}}">
                                <button class="btn btn-primary" type="submit" >Oui</button>
                            </form>
                        </div>
                        <div class="col" style="text-align: right;">
                            <button class="btn btn-danger" onclick="document.getElementById('join').remove()">
                                Non
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            {% endif %}
            {% endif %}
            {% if settings.admin is false %}
            {% if inProject is true %}
            <ul class="list-group" style="padding-top: 25px;" id="join">
                <li class="list-group-item list-group-item-danger" aria-current="true">Voulez-vous partir de ce projet ? Vous serez automatiquement supprimé des groupes auquels vous participez !</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <form action="/delUserToProject" method="post">
                                <input hidden name="userId" value="{{settings.idUser}}">
                                <input hidden name="projectId" value="{{project.id}}">
                                <button class="btn btn-danger" type="submit" >Oui</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            {% endif %}
            <ul class="list-group" style="padding-top: 25px;">
                <li class="list-group-item active" aria-current="true">Utilisateurs inscrits à ce <b>projet</b></li>
                {% for user in project.listUserInside %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            {{user.name}}
                        </div>
                        {% if settings.admin is true %}
                        <div class="col" style="text-align: right;">
                            <form action="/delUserToProject" method="post">
                                <input hidden name="userId" value="{{user.id}}">
                                <input hidden name="projectId" value="{{project.id}}">
                                <button class="btn btn-danger" type="submit">Supprimer</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <ul class="list-group" style="padding-top: 25px;">
                <li class="list-group-item active" aria-current="true">Utilisateurs non-inscrits à ce <b>projet</b></li>
                {% for user in project.listUserNotInside %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            {{user.name}}
                        </div>
                        {% if settings.admin is true %}
                        <div class="col" style="text-align: right;">
                            <form action="/addUserToProject" method="post">
                                <input hidden name="userId" value="{{user.id}}">
                                <input hidden name="projectId" value="{{project.id}}">
                                {% if project.nbMembers == project.intListUserInside %}
                                <button class="btn btn-primary" type="submit" disabled>Ajouter</button>
                                {% else %}
                                <button class="btn btn-primary" type="submit" >Ajouter</button>
                                {% endif %}
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    
</div>
