<div class="container">
    <h2>Y a un groupe</h2>
    {% for group in groups %}
    <div class="col-4" style="padding-top: 25px;">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col" style="text-align: left;">
                    <b>{{group.title}} : {{group.intListUserInside}}/{{group.maxMember}}</b>
                    {% for user in group.listUserInside %}
                        <br>
                        {{user.name}}

                    {% endfor %}

        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>