<div class="container">
    {% if settings.connected is true %}
    <a href="/disconnected" style="text-decoration: none; text-align: center;"><h2>Veuillez vous déconnecter</h2></a>
    {% else %}
        <h1>{{group.title}} </h1>
        {% if maxInGroup is true %}
        <h2>Vous ne pouvez pas rejoindre ce groupe car le groupe est déjà au complet</h2>
        
        {% else %}
            {% if maxInProject is true %}
            <h2>Vous ne pouvez pas rejoindre ce groupe car le projet où se situe le groupe est déjà au complet</h2>

            {% else %}
            <h2>Si vous souhaitez vous inscrire à ce groupe, inscrivez votre nom ici :</h2>
            <form method="post" action="/addUserToGroupLink">
                <input required name="userName" value="">
                <input hidden name="groupId" value="{{group.id}}">
                <button type="submit" class="btn btn-primary">Rejoindre ce groupe</button>
            </form>
            <h6 style="padding-top: 30px;">L'équipe actuelle : {{ group.intListUserInside }}/{{ group.maxMember }}</h6>
            <div class="row">
                {% for user in group.listUserInside %}

                <div class="col-4" style="padding-top: 25px;">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" style="text-align: left;">
                                {{user.name}}
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            {% endif %}

        {% endif %}
    {% endif %}


</div>