<!DOCTYPE html>
<html>
    <head>
        {% include 'tools/head.html' %}
    </head>
    <body>

        {# HTML PART #}
        {% if settings.admin is true %}
            {% include 'tools/navbarAdmin.html' %}
        {% endif %}


        {% if settings.admin is false %}
            {% if 'login' in pageName %}
            {% else %}
                {% if 'link' in pageName %}
                    {% if settings.connected is true %}
                        {% include 'tools/navbar.html' %}
                    {% endif %}

                {% else %}
                    {% include 'tools/navbar.html' %}
                {% endif %}
            {% endif %}
        {% endif %}
            

        {% include pageName + '/index.html' %}


        {# JS PART #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    </body>
    
        
        

    
</html>